.submission {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: smaller;
    margin: .5rem 0;
    padding: 1rem;
    background-color: rgb(221, 224, 228);
    border: 1px dashed royalblue;
}